<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет news -->
{% block title %}news{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
  <h1> Последние Новости: {{news|length}}</h1>
 {% if news %}
   <table>
       <tr>
           <td class="fw-bold">
               Заголовок(название)
           </td>
           <td class="fw-bold">
                Дата создвния
            </td>
            <td class="fw-bold">
               Текст
            </td>
            <td class="fw-bold">
               Рейтинг
            </td>
       </tr>
   {% for po in news %}
       <tr>
           <td class="fw-bolder">
               {{ po.postTitle }}
           </td>
           <td>
               {{ po.postCraTime|date:'d M y' }}
           </td>
           <td>
               {{ po.postText |truncatewords:20}}
           </td>
           <td>
               {{ po.postRunk }}
           </td>
       </tr>
       {% endfor %}
   </table>
 {% else %}
   <h2>Ностей на сегодня нет</h2>
 {% endif %}
{% endblock content %}